In [10]:
# Load the ipython-sql extension
%load_ext sql

# Connect to your database
%sql postgresql://nmarks:your_password@localhost/sf_politics

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
%%sql
SELECT name, count(*)
FROM supervisors
group by 1

 * postgresql://nmarks:***@localhost/sf_politics
13 rows affected.

[('Myrna Melgar', 3),
 ('Clerk of the Board', 3),
 ('Hillary Ronen', 3),
 ('Dean Preston', 3),
 ("Board of Supervisors' Legislative Meetings", 3),
 ('Board of Supervisors', 3),
 ('Catherine Stefani', 3),
 ('Aaron Peskin', 3),
 ('Joel Engardio', 3),
 ('Shamann Walton', 3),
 ('Ahsha Safai', 3),
 ('Connie Chan', 3),
 ('Rafael Mandelman', 3)]